*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body{
    /* background: #222; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
}
.container{
    height: 90%;
    min-width: 500px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 20px;
    border-radius: 10px;
    padding: 40px 35px;
    text-align: center;   
    display: flex;
    flex-direction: column;
}
.search{
    justify-content: space-between;
    height: 50px;
    align-items: center;
    width: 100%;
    display: flex;
}
.search input{
    height: 30px;
    width: 80%;
    border-radius: 15px;  
    border-color: transparent;
    outline: none;
}
.search button{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border-color: transparent;
    cursor: pointer;
}
.search button:hover{
    background-color: antiquewhite;
}
.search button img{
    height: 20px;
    width: 20px;
    align-items: center;
    justify-content: center;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.col img{
    width: 40px;
    margin-right: 10px;

}
.humidity, .wind{
    font-size: 28px;
    margin-top: -4px;
   
}
.col p{
    margin-block-start: -5px;
    margin-block-end: 10px;
}
.weather{
    display: none;
}